:root {
  --rasbery: #ce2d4f;
  --pink: #ce6d8b;
  --thistle: #cebbc9;
  --blue-ryb: #4056f4;
  --ultrmarine: #470ff4;
}

.content {
  overflow: auto;

  padding-bottom: 55px;
  background-color: #ececec;
}

h1,
h2,
h3 {
  margin: 0 !important;
}

.ant-card-bordered {
  border-radius: 5px;
}
